doctype strict
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/font-awesome.css')
    scipt(src='/js/bootstrap.js')
    scipt(src='/js/jquery.js')
    style.
      body{background-color:black;color:white} 
      h3{color:white;}   
      .fb{background-color: #2A46A1}
      .margin-top{margin-top:5px;}
      .bg{background-color: transparent;}
  body
    h3.text-center INICIAR SESIÓN
    .container.col-xs-12
      .row.fb
        i.fa.fa-facebook.fa-2x.col-xs-2.margin-top
        p.col-xs-10.pull-left.margin-top Iniciar sesión con Facebook
      .row.col-xs-12
        h4.text-center o
      .row.col-xs-12
        form(action='/register',method='post')
          div(data-role='fieldcontain')
            fieldset.bg(data-role='controlgroup')
              i.fa.fa-user
              input#email(type="text",value='',placeholder='email',name='email')
        
      
